<%= form_for @domain, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
	<% unless @domain.new_record? || !@domain.pdomain? %>
	  <%= link_to "Uploaded domain", @domain.pdomain.url %> | click to delete
	  <%= f.check_box :pdomain_delete, :label => 'Delete PDomain' %>
	<% end %>
  </p>
  <p>
	<% if @domain.new_record? || !@domain.pdomain? %>
	  Planning Domain: 
	  <p>
	  	<%= f.file_field :pdomain %>
	  </p>
	<% end %>
  </p>

  <p>
	<% unless @domain.new_record? || !@domain.pproblem? %>
	  <%= link_to "Uploaded planning", @domain.pproblem.url %> | click to delete
	  <%= f.check_box :pproblem_delete, :label => 'Delete PProblem' %>
	<% end %>
  </p>
  <p>
	<% if @domain.new_record? || !@domain.pproblem? %>
	  Planning Problem: 
	  <p>
	  	<%= f.file_field :pproblem %>
	  </p>
	<% end %>
  </p>

  <p><%= f.submit %></p>
<% end %>
