<p><h3>Knowledge Domain</h3></p> 

<p>
  <strong>Title:</strong>
  <%= @domain.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @domain.description %>
</p>
<% unless @domain.new_record? || !@domain.pdomain? %>
<p>
  <strong>Domain File: </strong>
  <%= link_to "uploaded domain", @domain.pdomain.url %> 
  | <strong>File size: </strong><%= @domain.pdomain_file_size %> Bytes
  | <strong>Updated at: </strong><%= @domain.pdomain_updated_at %>
</p>
<% end %>
<% unless @domain.new_record? || !@domain.pproblem? -%>
<p>
  <strong>Planning File: </strong>
  <%= link_to "uploaded problem", @domain.pproblem.url %>
  | <strong>File size: </strong><%= @domain.pproblem_file_size %> Bytes	
  | <strong>Updated at: </strong><%= @domain.pproblem_updated_at %>
</p>
<% end %>

<% if @domain.pdomain? && @domain.pproblem? -%>
<p>
  <%= button_to "Find a plan", :action=>"plan" %>
</p>
<% end %>

<p>
  <%= link_to "Edit", edit_domain_path(@domain) %> |
  <%= link_to "Destroy", @domain, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", domains_path %>
</p>
